.cell {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 55px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 55px;
  }

  .empty {
    background: rgba(148, 162, 241, 0.651);
  }

  .filled {
    background: rgb(53, 110, 184);
    transition: background .35s;

  }

  .hover {
    background: rgb(27, 50, 71);
    transition: background .35s;
  }

  .cell .counter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: rgb(255, 255, 255);
  }